canvas {
  border: 1px solid #00001E;
  background-color: #696662;
}

.game-buttons-container {
  width: 100%;
  text-align: center;
}

.game-button {
  margin: 5px;
  font-weight: 900;
}

#move-right {
  margin-left: 45px;
}

.sex-wrapper {
  display: inline-block;
  text-align: center;
  width: 49%;
  padding-bottom: 10px;
}

.sex-image {
  width: 30%;
  margin-right: 10px;
}

label {
  font-weight: 700;
  margin-right: 10px;
}

.input-wrapper {
  padding-top: 10px;
}

.user-input {
  width: 100%;
}

.styled-select {
  -webkit-appearance: button;
  -webkit-user-select: none;
  background: transparent;
  background-image: url(../images/selector.png);
  background-position: 98% center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, .15);
  color: #757575;
  padding: 2px;
  width: 100%;
  border-radius: 0;
  font-size: 16px;
}

.input-group-addon {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  border-left: 0;
  background-color: white;
  color: #757575;
  padding: 4px 6px;
}

.right {
  float: right;
}

#validation-alert {
  display: none;
}

#poll-modal {
  height: 100%;
  width: 100%;
  max-height: 700px;
  max-width: 1000px;
  margin: 30px auto 0 auto;
}

#cover {
  width: 100%;
  height: 100%;
  background-position: left 0;
  background-size: 1200px 700px;
}

#battery{
  position: absolute;
  height: 60px;
  width: 165px;
  top: 280px;
  left: 240px;
}

#battery-body {
  width: 150px;
  height: 60px;
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
}

#battery-tip {
  position: absolute;
  right: 0;
  width: 15px;
  height: 50%;
  background-color: whitesmoke;
  top: 25%;
}

#battery-remaining {
  width: 0;
  height: 100%;
  border-radius: 10px;
}

#battery-text {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  font-size: larger;
}

#poll-content {
  text-align: center;
  background-color: rgba(245, 245, 245, 0.6);
  width: 95%;
  margin: 40px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
}

#first, #second, #third, #fourth, #fifth, #sixth, #battery {
  display: none;
}

#sixth {
  position: absolute;
  height: 148px;
  width: 343px;
  left: 540px;
  top: 410px;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
}

.slider-container {
  width: 70%;
  padding: 15px;
  margin: auto;
}

#slider {
  width: 100%;
}

#sliderNum {
  font-size: larger;
  font-weight: 600;
  padding: 10px;
}

.question {
  margin-top: 10px;
  font-size: large;
  font-weight: 600;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 1px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #74A9D8;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 1px;
  border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #74A9D8;
}

input[type=range]:focus::-ms-fill-upper {
  background: #74A9D8;
}

#help-modal {
  max-width: 700px;
  width: 100%;
  margin: 50px auto 0 auto;
}

#help-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: #2196F3;
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 900;
  padding-top: 5px;
}

#help-button:hover {
  background-color: #1f80E0;
  cursor: pointer;
}

#stopwatch {
  position: fixed;
  top: 550px;
  left: 10px;
  background-color: #333333;
  color: white;
  border-radius: 5px;
}

.user-input {
  border: 1px solid rgba(0, 0, 0, .15)
}

/*@media only screen and (max-width: 740px) {
  #poll-content {
    padding: 10px;
    margin-top: 10px;
  }
}*/

/*@media only screen and (max-width: 900px) {

  #poll-content {
    width: 100%;
  }

  #poll-modal {
    padding: 0;
    max-width: 360px;
    max-height: 688px;
    margin: 0;
  }

  #cover {
    background-size: 360px;
  }

  #battery {
    left: 80px;
    top: 325px;
  }

  #sixth {
    left: 0;
    width: 100%;
    top: 420px;
  }

  .slider-container {
    width: 90%;
    padding: 22px;
    margin: auto;
  }

  #slider {
    width: 100%;
  }

  #sliderNum {
    font-size: larger;
    font-weight: 600;
    padding: 10px;
  }
}*/

