body {
  background: url('../images/pozadinaTreca.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-card {
  margin: 0 auto 0 auto;
  max-width: 700px;
}

.card-block {
  padding: 20px;
}

.card-text {
  padding: 15px 10px 15px 10px;
  text-align: left;
}

.card-text-finish {
  padding: 15px 10px 15px 10px;
  text-align: left;
  max-height: 400px;
  overflow: auto;
}

.text-colored {
  color: #2196F3;
}

.card-title {
  font-weight: 300;
  font-size: 40px;
}

.big {
  font-weight: 500;
}

.small {
  font-weight: 300;
}

.important {
  font-weight: 900;
}

.left {
  float: left;
  margin-left: 10px;
}

#my-result {
  margin-bottom: 25px;
}
