#slider {
  -webkit-appearance: none;
  width: 40%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: auto;
  margin-top: 20px;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #337ab7;
  cursor: pointer;
  border-radius: 25px;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #337ab7;
  cursor: pointer;
}

p {
  margin-bottom: 20px;
}

#slider-num{
  margin-top: 20px;
}

@media only screen and (max-width: 993px) {
  .container {
    margin: 0px;
    width: 100%;
  }

  .container span {
    font-size: 30px;
  }

  .container .question {
    font-size: 30px;
  }

  .container h1 {
    font-size: 50px;
  }

  #slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: auto;
    margin-top: 20px;
  }

  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: #337ab7;
    cursor: pointer;
    border-radius: 25px;
  }

  .btn-lg {
    width: 120px;
    height: 60px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    margin: 0px;
    width: 100%;
  }

  .container span {
    font-size: 15px;
  }

  .container .question {
    font-size: 15px;
  }

  .container h1 {
    font-size: 25px;
  }

  .container h4 {
    font-size: 15px;
  }

  #slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: auto;
    margin-top: 20px;
  }

  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #337ab7;
    cursor: pointer;
    border-radius: 25px;
  }

  .btn-lg {
    width: 80px;
    height: 40px;
    font-size: 15px;
  }
}
