th {
  text-align: center;
}

.container .panel {
  margin: 30px;
}

@media only screen and (max-width: 993px) {
  .container {
    margin: 0;
    width: 100%;
  }

  .container .panel {
    margin: 5px;
  }

  .container span {
    font-size: 30px;
  }

  .container .question {
    font-size: 30px;
  }

  .container h1 {
    font-size: 50px;
  }

  .container h4 {
    font-size: 25px;
  }

  .container label {
    font-size: 22px;
  }

  .container input[type='radio'] {
    transform: scale(1.5);
  }

  .btn-lg {
    width: 120px;
    height: 60px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    margin: 0;
    width: 100%;
  }

  .container .panel {
    margin: 0;
  }

  .container span {
    font-size: 15px;
  }

  .container .question {
    font-size: 15px;
  }

  .container h1 {
    font-size: 25px;
  }

  .container h4 {
    font-size: 15px;
  }

  .container label {
    font-size: 15px;
  }

  .btn-lg {
    width: 80px;
    height: 40px;
    font-size: 15px;
  }

  .container input[type='radio'] {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 640px) {
  .container {
    margin: 0;
    width: 100%;
  }

  .container .panel {
    margin: 0;
  }

  .container span {
    font-size: 10px;
  }

  .container .question {
    font-size: 10px;
  }

  .container h1 {
    font-size: 20px;
  }

  .container h4 {
    font-size: 15px;
  }

  .container label {
    font-size: 10px;
  }

  .btn-lg {
    width: 60px;
    height: 30px;
    font-size: 12px;
  }

  .container input[type='radio'] {
    transform: scale(1.3);
  }
}

